apollo_enrichment_workflow.json
{
  "name": "Apollo Enrichment – Empresas Chilenas",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1VFrzjM5NVyz8seCeC-JQQtVEMkaB6Z1go4LTmWy43K4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "235960899",
          "mode": "id"
        },
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Leer Empresas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [440, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "// Google Sheets renombra headers duplicados: 'CONTACTO ' (con espacio), 'CONTACTO 1', 'CONTACTO 2'...\n// Este nodo normaliza a: CONTACTO, CONTACTO2, CONTACTO3... y lo mismo para CORREO.\nconst raw = $input.item.json;\nconst out = {};\n\nfor (const [key, val] of Object.entries(raw)) {\n  let cleanKey = key.trim();\n  // 'CONTACTO 1' -> 'CONTACTO2', 'CORREO 2' -> 'CORREO3', etc.\n  const m = cleanKey.match(/^(CONTACTO|CORREO)\\s+(\\d+)$/i);\n  if (m) {\n    cleanKey = m[1].toUpperCase() + (parseInt(m[2]) + 1);\n  }\n  out[cleanKey] = val;\n}\n\nreturn [{ json: out }];"
      },
      "id": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
      "name": "Normalizar Campos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-sincontacto",
              "leftValue": "={{ $json.CONTACTO }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Sin Contacto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_people/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"organization_names\": [\"{{ $json.Empresa_Nombre }}\"],\n  \"person_titles\": [\n    \"Jefe de Capacitación\",\n    \"Gerente RRHH\",\n    \"Subgerente de Personas\",\n    \"Gerente Desarrollo Organizacional\",\n    \"Gerente Formación\",\n    \"HR Manager\",\n    \"Training Manager\",\n    \"People Manager\",\n    \"Learning and Development Manager\"\n  ],\n  \"page\": 1,\n  \"per_page\": 10\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Buscar en Apollo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1160, 260],
      "credentials": {
        "httpHeaderAuth": {
          "id": "apollo-api-cred",
          "name": "Apollo X-Api-Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const apollo = $input.item.json;\nconst row = $('Sin Contacto').item.json;\n\nconst people = apollo.people || apollo.contacts || [];\n\nconst contacts = people\n  .filter(p => p.email && !p.email.startsWith('email_not_unlocked'))\n  .slice(0, 15)\n  .map(p => ({\n    name: [p.first_name, p.last_name].filter(Boolean).join(' ').trim(),\n    title: p.title || '',\n    email: p.email\n  }));\n\nconst sd = $getWorkflowStaticData('global');\nsd.companiesProcessed = (sd.companiesProcessed || 0) + 1;\nsd.contactsFound = (sd.contactsFound || 0) + contacts.length;\n\nif (contacts.length === 0) {\n  return [{ json: { Empresa_Nombre: row.Empresa_Nombre, _noContacts: true } }];\n}\n\nconst out = { Empresa_Nombre: row.Empresa_Nombre, _noContacts: false };\n\nfor (let i = 0; i < contacts.length; i++) {\n  const c = contacts[i];\n  const label = c.title ? `${c.name} | ${c.title}` : c.name;\n  if (i === 0) {\n    out.CONTACTO = label;\n    out.CORREO = c.email;\n  } else {\n    out[`CONTACTO${i + 1}`] = label;\n    out[`CORREO${i + 1}`] = c.email;\n  }\n}\n\nreturn [{ json: out }];"
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Extraer Contactos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 260]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-tienecontactos",
              "leftValue": "={{ $json._noContacts }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Tiene Contactos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1640, 260]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1VFrzjM5NVyz8seCeC-JQQtVEMkaB6Z1go4LTmWy43K4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "235960899",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Empresa_Nombre": "={{ $json.Empresa_Nombre }}",
            "CONTACTO": "={{ $json.CONTACTO ?? '' }}",
            "CORREO": "={{ $json.CORREO ?? '' }}",
            "CONTACTO2": "={{ $json.CONTACTO2 ?? '' }}",
            "CORREO2": "={{ $json.CORREO2 ?? '' }}",
            "CONTACTO3": "={{ $json.CONTACTO3 ?? '' }}",
            "CORREO3": "={{ $json.CORREO3 ?? '' }}",
            "CONTACTO4": "={{ $json.CONTACTO4 ?? '' }}",
            "CORREO4": "={{ $json.CORREO4 ?? '' }}",
            "CONTACTO5": "={{ $json.CONTACTO5 ?? '' }}",
            "CORREO5": "={{ $json.CORREO5 ?? '' }}",
            "CONTACTO6": "={{ $json.CONTACTO6 ?? '' }}",
            "CORREO6": "={{ $json.CORREO6 ?? '' }}",
            "CONTACTO7": "={{ $json.CONTACTO7 ?? '' }}",
            "CORREO7": "={{ $json.CORREO7 ?? '' }}",
            "CONTACTO8": "={{ $json.CONTACTO8 ?? '' }}",
            "CORREO8": "={{ $json.CORREO8 ?? '' }}",
            "CONTACTO9": "={{ $json.CONTACTO9 ?? '' }}",
            "CORREO9": "={{ $json.CORREO9 ?? '' }}",
            "CONTACTO10": "={{ $json.CONTACTO10 ?? '' }}",
            "CORREO10": "={{ $json.CORREO10 ?? '' }}",
            "CONTACTO11": "={{ $json.CONTACTO11 ?? '' }}",
            "CORREO11": "={{ $json.CORREO11 ?? '' }}",
            "CONTACTO12": "={{ $json.CONTACTO12 ?? '' }}",
            "CORREO12": "={{ $json.CORREO12 ?? '' }}",
            "CONTACTO13": "={{ $json.CONTACTO13 ?? '' }}",
            "CORREO13": "={{ $json.CORREO13 ?? '' }}",
            "CONTACTO14": "={{ $json.CONTACTO14 ?? '' }}",
            "CORREO14": "={{ $json.CORREO14 ?? '' }}",
            "CONTACTO15": "={{ $json.CONTACTO15 ?? '' }}",
            "CORREO15": "={{ $json.CORREO15 ?? '' }}"
          },
          "matchingColumns": ["Empresa_Nombre"],
          "schema": [
            {"id": "Empresa_Nombre", "displayName": "Empresa_Nombre", "required": false, "defaultMatch": true, "canBeUsedToMatch": true, "type": "string", "display": true},
            {"id": "CONTACTO", "displayName": "CONTACTO", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CORREO", "displayName": "CORREO", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CONTACTO2", "displayName": "CONTACTO2", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CORREO2", "displayName": "CORREO2", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CONTACTO3", "displayName": "CONTACTO3", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CORREO3", "displayName": "CORREO3", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CONTACTO4", "displayName": "CONTACTO4", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CORREO4", "displayName": "CORREO4", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CONTACTO5", "displayName": "CONTACTO5", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CORREO5", "displayName": "CORREO5", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CONTACTO6", "displayName": "CONTACTO6", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CORREO6", "displayName": "CORREO6", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CONTACTO7", "displayName": "CONTACTO7", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CORREO7", "displayName": "CORREO7", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CONTACTO8", "displayName": "CONTACTO8", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CORREO8", "displayName": "CORREO8", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CONTACTO9", "displayName": "CONTACTO9", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CORREO9", "displayName": "CORREO9", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CONTACTO10", "displayName": "CONTACTO10", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CORREO10", "displayName": "CORREO10", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CONTACTO11", "displayName": "CONTACTO11", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CORREO11", "displayName": "CORREO11", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CONTACTO12", "displayName": "CONTACTO12", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CORREO12", "displayName": "CORREO12", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CONTACTO13", "displayName": "CONTACTO13", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CORREO13", "displayName": "CORREO13", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CONTACTO14", "displayName": "CONTACTO14", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CORREO14", "displayName": "CORREO14", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CONTACTO15", "displayName": "CONTACTO15", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true},
            {"id": "CORREO15", "displayName": "CORREO15", "required": false, "defaultMatch": false, "canBeUsedToMatch": false, "type": "string", "display": true}
          ]
        },
        "options": {}
      },
      "id": "88888888-8888-8888-8888-888888888888",
      "name": "Actualizar Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1880, 160]
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst companies = sd.companiesProcessed || 0;\nconst contacts = sd.contactsFound || 0;\n\nsd.companiesProcessed = 0;\nsd.contactsFound = 0;\n\nreturn [{\n  json: {\n    resumen: 'Enriquecimiento Apollo completado',\n    empresas_procesadas: companies,\n    contactos_encontrados: contacts,\n    promedio_por_empresa: companies > 0 ? Number((contacts / companies).toFixed(2)) : 0,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "99999999-9999-9999-9999-999999999999",
      "name": "Reporte Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 580]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{"node": "Leer Empresas", "type": "main", "index": 0}]
      ]
    },
    "Leer Empresas": {
      "main": [
        [{"node": "SplitInBatches", "type": "main", "index": 0}]
      ]
    },
    "SplitInBatches": {
      "main": [
        [{"node": "Normalizar Campos", "type": "main", "index": 0}],
        [{"node": "Reporte Final", "type": "main", "index": 0}]
      ]
    },
    "Normalizar Campos": {
      "main": [
        [{"node": "Sin Contacto", "type": "main", "index": 0}]
      ]
    },
    "Sin Contacto": {
      "main": [
        [{"node": "Buscar en Apollo", "type": "main", "index": 0}],
        [{"node": "SplitInBatches", "type": "main", "index": 0}]
      ]
    },
    "Buscar en Apollo": {
      "main": [
        [{"node": "Extraer Contactos", "type": "main", "index": 0}]
      ]
    },
    "Extraer Contactos": {
      "main": [
        [{"node": "Tiene Contactos", "type": "main", "index": 0}]
      ]
    },
    "Tiene Contactos": {
      "main": [
        [{"node": "Actualizar Sheet", "type": "main", "index": 0}],
        [{"node": "SplitInBatches", "type": "main", "index": 0}]
      ]
    },
    "Actualizar Sheet": {
      "main": [
        [{"node": "SplitInBatches", "type": "main", "index": 0}]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "versionId": "1"
}
