apollo_workflow_fixed.json
{
  "name": "Apollo Enrichment – Empresas Chilenas",
  "nodes": [
    {
      "parameters": {},
      "id": "a15b2104-7b76-41c9-b538-b17723e32f01",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1328, 448]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VFrzjM5NVyz8seCeC-JQQtVEMkaB6Z1go4LTmWy43K4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "235960899",
          "mode": "id"
        },
        "options": {}
      },
      "id": "9574cbeb-5a83-45f5-a02d-39b29a2a49da",
      "name": "Leer Empresas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-1072, 448],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qkIQahK06Gv2UhJr",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f4fdffcd-032f-413c-b35f-7368c981c4e7",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [464, 448]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json;\nconst out = {};\n\nfor (const [key, val] of Object.entries(raw)) {\n  const cleanVal = typeof val === 'string' ? val.replace(/[\\u0000-\\u001f]+/g, ' ').trim() : val;\n  out[key.trim()] = cleanVal;\n}\n\nreturn [{ json: out }];"
      },
      "id": "fb8c6b6f-c98b-404d-864e-9ac2dc044513",
      "name": "Normalizar Campos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [688, 624]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apollo.io/api/v1/mixed_people/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"organization_names\": [\"{{ $json.search_query }}\"],\n  \"person_titles\": [\n    \"Jefe de Capacitación\",\n    \"Gerente RRHH\",\n    \"Subgerente de Personas\",\n    \"Gerente Desarrollo Organizacional\",\n    \"Gerente Formación\",\n    \"HR Manager\",\n    \"Training Manager\",\n    \"People Manager\",\n    \"Learning and Development Manager\"\n  ],\n  \"page\": 1,\n  \"per_page\": 10,\n  \"person_locations\": [\"Chile\"]\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "1f76b3dd-9605-4b36-9c56-2c81c2c7a270",
      "name": "Buscar en Apollo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-192, 128],
      "credentials": {
        "httpHeaderAuth": {
          "id": "azdNaL6hG3sG4j3M",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const apollo = $input.item.json;\nconst row = $('Resolver Query Empresa').item.json;\n\nconst people = apollo.people || apollo.contacts || [];\nconst validTitles = /rrhh|human|people|talent|capacita|learning|desarrollo/i;\nconst base = (row.search_query || '').toLowerCase();\n\nconst contacts = people\n  .filter(p => {\n    const empresa = (p.organization_name || '').toLowerCase();\n    const matchEmpresa = empresa.includes(base) || base.includes(empresa.split(' ')[0]);\n    return p.email &&\n      !p.email.startsWith('email_not_unlocked') &&\n      validTitles.test(p.title || '') &&\n      matchEmpresa;\n  })\n  .slice(0, 10)\n  .map(p => ({\n    name: [p.first_name, p.last_name].filter(Boolean).join(' ').trim(),\n    title: p.title || '',\n    email: p.email,\n    empresa_detectada: p.organization_name || ''\n  }));\n\nconst sd = $getWorkflowStaticData('global');\nconst empresa = row.Empresa_Nombre;\n\nif (!sd.results) sd.results = {};\nif (!sd.results[empresa]) sd.results[empresa] = [];\nsd.results[empresa].push(...contacts);\n\nif (!sd.rows) sd.rows = {};\nif (!sd.rows[empresa]) sd.rows[empresa] = row;\n\nreturn [{ json: {} }];"
      },
      "id": "35b72714-1141-4476-bc8a-1cd4025818c5",
      "name": "Extraer Contactos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-64, -96]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1VFrzjM5NVyz8seCeC-JQQtVEMkaB6Z1go4LTmWy43K4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "235960899",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Empresa_Nombre": "={{ $json.Empresa_Nombre }}",
            "CONTACTO": "={{ $json.CONTACTO ?? \"\" }}",
            "CORREO": "={{ $json.CORREO ?? \"\" }}"
          },
          "matchingColumns": ["Empresa_Nombre"],
          "schema": [
            {
              "id": "Empresa_Nombre",
              "displayName": "Empresa_Nombre",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "display": true
            },
            {
              "id": "CONTACTO",
              "displayName": "CONTACTO",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "string",
              "display": true
            },
            {
              "id": "CORREO",
              "displayName": "CORREO",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "type": "string",
              "display": true
            }
          ]
        },
        "options": {}
      },
      "id": "7bd2db2e-84bf-4a84-a443-e96c177b128e",
      "name": "Actualizar Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [80, 336],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qkIQahK06Gv2UhJr",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst companies = sd.companiesProcessed || 0;\nconst contacts = sd.contactsFound || 0;\n\nsd.companiesProcessed = 0;\nsd.contactsFound = 0;\n\nreturn [{\n  json: {\n    resumen: 'Enriquecimiento Apollo completado',\n    empresas_procesadas: companies,\n    contactos_encontrados: contacts,\n    promedio_por_empresa: companies > 0 ? Number((contacts / companies).toFixed(2)) : 0,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "155ffaf3-ffe5-44cb-ad9f-f107619a35c8",
      "name": "Reporte Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [688, 240]
    },
    {
      "parameters": {
        "jsCode": "const razon = $json.Empresa_Nombre || '';\nconst holding = $json.Holding || '';\n\nfunction limpiar(nombre) {\n  return nombre\n    .replace(/(spa|ltda|s\\.a\\.|sa|limitada)/gi, '')\n    .replace(/inversiones|sociedad|comercial|servicios/gi, '')\n    .trim();\n}\n\nconst base = limpiar(razon);\n\nconst queries = [\n  base,\n  holding,\n  `${base} chile`,\n  `${holding} chile`\n].filter(q => q && q.length > 3);\n\nconst finalQueries = [...new Set(queries)];\n\nreturn finalQueries.map(q => ({\n  json: {\n    ...$json,\n    search_query: q\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-688, 256],
      "id": "7e5a86fe-ece5-426d-ad21-4a1b0293b0db",
      "name": "Resolver Query Empresa"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-464, 256],
      "id": "9a013088-c970-497a-85ee-6159d91a49da",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const sd = $getWorkflowStaticData('global');\nconst results = sd.results || {};\nconst rows = sd.rows || {};\n\nconst output = [];\n\nfor (const [empresa, contacts] of Object.entries(results)) {\n\n  const ranked = contacts.map(c => {\n    let score = 0;\n    if (c.email) score += 3;\n    if (/gerente|head|director/i.test(c.title)) score += 3;\n    if (/rrhh|people|talent|learning/i.test(c.title)) score += 2;\n    return { ...c, score };\n  });\n\n  ranked.sort((a, b) => b.score - a.score);\n\n  const top = ranked.slice(0, 5);\n  const row = rows[empresa] || { Empresa_Nombre: empresa };\n\n  top.forEach((c, i) => {\n    if (i === 0) {\n      row['CONTACTO'] = c.name + ' | ' + c.title;\n      row['CORREO'] = c.email;\n    } else {\n      row['CONTACTO ' + i] = c.name + ' | ' + c.title;\n      row['CORREO' + i] = c.email;\n    }\n  });\n\n  output.push({ json: row });\n}\n\nsd.results = {};\nsd.rows = {};\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-192, 336],
      "id": "15529cee-06f5-425a-8019-c83cb9206f81",
      "name": "Consolidar Contactos"
    }
  ],
  "pinData": {
    "Manual Trigger": [
      {
        "json": {},
        "pairedItem": { "item": 0 }
      }
    ]
  },
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Leer Empresas", "type": "main", "index": 0 }]]
    },
    "Leer Empresas": {
      "main": [[{ "node": "SplitInBatches", "type": "main", "index": 0 }]]
    },
    "SplitInBatches": {
      "main": [
        [{ "node": "Reporte Final", "type": "main", "index": 0 }],
        [{ "node": "Normalizar Campos", "type": "main", "index": 0 }]
      ]
    },
    "Normalizar Campos": {
      "main": [
        [
          { "node": "SplitInBatches", "type": "main", "index": 0 },
          { "node": "Resolver Query Empresa", "type": "main", "index": 0 }
        ]
      ]
    },
    "Buscar en Apollo": {
      "main": [[{ "node": "Extraer Contactos", "type": "main", "index": 0 }]]
    },
    "Extraer Contactos": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    },
    "Resolver Query Empresa": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    },
    "Loop Over Items": {
      "main": [
        [{ "node": "Consolidar Contactos", "type": "main", "index": 0 }],
        [{ "node": "Buscar en Apollo", "type": "main", "index": 0 }]
      ]
    },
    "Consolidar Contactos": {
      "main": [[{ "node": "Actualizar Sheet", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "36ce1b5c-808e-4c1c-9aa2-7310089ff92d",
  "meta": {
    "instanceId": "c8b8eb4d69b9d254d871f8d2e97be421219209e0111856a1ca3706ce2e104cbe"
  },
  "id": "qsIWPLHdP4t17sl3",
  "tags": []
}
