n8n-workflows/workflow1-whatsapp-agent.json
{
  "name": "WhatsApp AI Agent - Inbound",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "webhookId": "whatsapp-inbound-001",
      "parameters": {
        "updates": ["messages"]
      },
      "credentials": {
        "whatsAppApi": {
          "id": "WHATSAPP_CRED_ID",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Extraer Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 300],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "assign-phone",
              "name": "phone",
              "value": "={{ $json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "assign-message",
              "name": "message",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "assign-msgid",
              "name": "messageId",
              "value": "={{ $json.messages[0].id }}",
              "type": "string"
            },
            {
              "id": "assign-name",
              "name": "contactName",
              "value": "={{ $json.contacts[0].profile.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [440, 300],
      "parameters": {
        "agent": "toolsAgent",
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Eres un asistente de atención al cliente amable, profesional y útil. Responde siempre en el mismo idioma que el usuario. Mantén respuestas concisas y claras."
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "OpenAI GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [340, 520],
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_CRED_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Memoria por Teléfono",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [560, 520],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.phone }}",
        "contextWindowLength": 10
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Detectar Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "email-regex-check",
              "leftValue": "={{ $('Extraer Datos').item.json.message }}",
              "rightValue": "[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "WhatsApp Confirmar Email",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [920, 160],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "YOUR_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{ $('Extraer Datos').item.json.phone }}",
        "textBody": "Perfecto, te acabo de enviar toda la información a tu correo ✉️ Cualquier consulta adicional, aquí estoy."
      },
      "credentials": {
        "whatsAppApi": {
          "id": "WHATSAPP_CRED_ID",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "WhatsApp Responder",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [920, 420],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "YOUR_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{ $('Extraer Datos').item.json.phone }}",
        "textBody": "={{ $('AI Agent').item.json.output }}"
      },
      "credentials": {
        "whatsAppApi": {
          "id": "WHATSAPP_CRED_ID",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Enviar Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1140, 160],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $('Extraer Datos').item.json.message.match(/[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/)[0] }}",
        "subject": "=Contacto WhatsApp: {{ $('Extraer Datos').item.json.contactName }} ({{ $('Extraer Datos').item.json.phone }})",
        "message": "=<p>Has recibido un mensaje de WhatsApp.</p><p><strong>Nombre:</strong> {{ $('Extraer Datos').item.json.contactName }}<br><strong>Teléfono:</strong> {{ $('Extraer Datos').item.json.phone }}</p><p><strong>Mensaje:</strong><br>{{ $('Extraer Datos').item.json.message }}</p><p><strong>Respuesta del asistente:</strong><br>{{ $('AI Agent').item.json.output }}</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CRED_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [{ "node": "Extraer Datos", "type": "main", "index": 0 }]
      ]
    },
    "Extraer Datos": {
      "main": [
        [{ "node": "AI Agent", "type": "main", "index": 0 }]
      ]
    },
    "AI Agent": {
      "main": [
        [{ "node": "Detectar Email", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI GPT-4o": {
      "ai_languageModel": [
        [{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Memoria por Teléfono": {
      "ai_memory": [
        [{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]
      ]
    },
    "Detectar Email": {
      "main": [
        [
          { "node": "WhatsApp Confirmar Email", "type": "main", "index": 0 },
          { "node": "Enviar Gmail", "type": "main", "index": 0 }
        ],
        [
          { "node": "WhatsApp Responder", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a1b2c3d4-ffff-ffff-ffff-000000000002",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "wf-whatsapp-agent-001",
  "tags": [
    {
      "createdAt": "2026-04-21T00:00:00.000Z",
      "updatedAt": "2026-04-21T00:00:00.000Z",
      "id": "tag-whatsapp",
      "name": "whatsapp"
    }
  ]
}
