n8n-workflows/workflow3-company-enrichment.json
{
  "name": "Enriquecimiento Empresas - Google Sheets",
  "nodes": [
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Inicio Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "parameters": {}
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Leer Empresas",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [220, 300],
      "parameters": {
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Empresas",
          "mode": "name"
        },
        "filtersUI": {},
        "options": {
          "headerRow": 1
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GSHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Procesar una a una",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [440, 300],
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": false
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Verificar Datos Faltantes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "check-email-empty",
              "leftValue": "={{ $json.email || $json.Email || $json.correo || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Buscar Contacto Web",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 160],
      "parameters": {
        "method": "GET",
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ ($json.empresa || $json.Empresa || $json.company || $json.Company || $json.nombre || '') + ' contacto email teléfono sitio web' }}"
            },
            {
              "name": "api_key",
              "value": "YOUR_SERPAPI_KEY"
            },
            {
              "name": "hl",
              "value": "es"
            },
            {
              "name": "num",
              "value": "5"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Extraer Datos Contacto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 160],
      "parameters": {
        "jsCode": "const searchData = $input.first().json;\nconst originalItem = $('Procesar una a una').first().json;\n\nconst results = searchData.organic_results || [];\nconst knowledgeGraph = searchData.knowledge_graph || {};\n\nlet extractedEmail = '';\nlet extractedPhone = '';\nlet extractedWebsite = '';\n\nconst emailRegex = /[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}/g;\nconst phoneRegex = /(?:\\+?56|\\+?[0-9]{1,3})?[\\s.-]?\\(?[0-9]{7,10}\\)?[\\s.-]?[0-9]{3,4}[\\s.-]?[0-9]{3,4}/g;\n\nif (knowledgeGraph.website) extractedWebsite = knowledgeGraph.website;\nif (knowledgeGraph.phone) extractedPhone = knowledgeGraph.phone;\n\nconst allSnippets = results.map(r => (r.snippet || '') + ' ' + (r.title || '')).join(' ');\n\nconst emailMatches = allSnippets.match(emailRegex);\nif (emailMatches && emailMatches.length > 0) {\n  extractedEmail = emailMatches[0];\n}\n\nconst phoneMatches = allSnippets.match(phoneRegex);\nif (phoneMatches && phoneMatches.length > 0) {\n  extractedPhone = extractedPhone || phoneMatches[0].trim();\n}\n\nconst urlMatches = results.filter(r => r.link && !r.link.includes('linkedin') && !r.link.includes('facebook'));\nif (urlMatches.length > 0 && !extractedWebsite) {\n  try {\n    const urlObj = new URL(urlMatches[0].link);\n    extractedWebsite = urlObj.origin;\n  } catch(e) {\n    extractedWebsite = urlMatches[0].link;\n  }\n}\n\nreturn [{\n  json: {\n    ...originalItem,\n    email: originalItem.email || originalItem.Email || extractedEmail,\n    telefono: originalItem.telefono || originalItem.Telefono || originalItem.phone || extractedPhone,\n    sitio_web: originalItem.sitio_web || originalItem.website || originalItem.Website || extractedWebsite,\n    enriquecido: true,\n    fecha_enriquecimiento: new Date().toISOString().split('T')[0],\n    fuente_enriquecimiento: extractedEmail ? 'web_search' : 'no_encontrado'\n  }\n}];"
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000007",
      "name": "Marcar Sin Cambios",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 440],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "mark-no-change",
              "name": "enriquecido",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "mark-date",
              "name": "fecha_verificacion",
              "value": "={{ $now.toISOString().split('T')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeBinaryData": false
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000008",
      "name": "Unir Resultados",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1120, 300],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000009",
      "name": "Actualizar Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1340, 300],
      "parameters": {
        "resource": "sheet",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Empresas",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "empresa"
          ],
          "schema": []
        },
        "options": {
          "handlingExtraData": "insertInNewColumn"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GSHEETS_CRED_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000010",
      "name": "Continuar Siguiente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "id": "check-has-more",
              "leftValue": "={{ $('Procesar una a una').context.noItemsLeft }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "c3d4e5f6-0003-0003-0003-000000000011",
      "name": "Reporte Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 440],
      "parameters": {
        "jsCode": "return [{\n  json: {\n    mensaje: 'Enriquecimiento completado',\n    fecha: new Date().toISOString(),\n    total_procesados: 'Ver Google Sheets para resultados'\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Inicio Manual": {
      "main": [
        [
          {
            "node": "Leer Empresas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Empresas": {
      "main": [
        [
          {
            "node": "Procesar una a una",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar una a una": {
      "main": [
        [
          {
            "node": "Verificar Datos Faltantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Datos Faltantes": {
      "main": [
        [
          {
            "node": "Buscar Contacto Web",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar Sin Cambios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contacto Web": {
      "main": [
        [
          {
            "node": "Extraer Datos Contacto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Contacto": {
      "main": [
        [
          {
            "node": "Unir Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Sin Cambios": {
      "main": [
        [
          {
            "node": "Unir Resultados",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Unir Resultados": {
      "main": [
        [
          {
            "node": "Actualizar Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Google Sheets": {
      "main": [
        [
          {
            "node": "Continuar Siguiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continuar Siguiente": {
      "main": [
        [
          {
            "node": "Procesar una a una",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reporte Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c3d4e5f6-ffff-ffff-ffff-000000000003",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "wf-company-enrichment-003",
  "tags": [
    {
      "createdAt": "2026-04-21T00:00:00.000Z",
      "updatedAt": "2026-04-21T00:00:00.000Z",
      "id": "tag-sheets",
      "name": "google-sheets"
    }
  ]
}
